---
layout: default
# TODO: remove those defaults
isLocationVerified: false
edition_format: []
---

{% from "macros/boolean_to_yes_no.njk" import booleanToYesNo %}
{% from "macros/show_categorical_array.njk" import showCategoricalArray %}

{% if isFragment %}
    {% set fragmentStatus = "Fragment" %}
{% else %}
    {% set fragmentStatus = "Non-fragment" %}
{% endif %}

<article class="max-w-5xl mx-auto">
    <header class="mb-14">
        <h1 class="text-3xl text-center font-bold leading-normal text-gray-900 mt-0 mb-3">{{ title }}</h1>
        <h2 class="text-2xl text-center leading-normal text-gray-750 mt-0 mb-3">SC#: {{ NSC }}</h2>
        {% if titleImage %}
            <a href="{{ titleImage | url }}">
            <img
            class="w-full m-0 rounded-t lazy"
            src="{% if titleImage %}{{ titleImage | url }}{% elif image %}{{ image | url }}{% else %}{{ '/assets/img/no-image.svg' | url }}{% endif %}"
            width="500"
            height="500"
            alt="{{ imageAlt }}">
            </a>
        {% endif %}
    </header>
    <div id="content" class="prose text-gray-800 max-w-none">
        {% if summary -%}
            {% if summary | isArray %}
                <ul>
                {% for bulletpoint in summary %}
                    <li>{{ bulletpoint | safe }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>{{ summary | safe }}</p>
            {%- endif %}
        {% endif %}
        <table>
            <th colspan="2" class="text-xl font-bold">Keyboard</th>
            <tr>
                <td>Keyboard Name</td>
                <td>{{ keyboard }}</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{ yearCount }}</td>
            </tr>
            <tr>
                <td>Fragment</td>
                <td>{{ booleanToYesNo(isFragment) }}</td>
            </tr>
            <tr>
                <td>Title(s)</td>
                <td>{{ title }}</td>
            </tr>
            <th colspan="2" class="text-xl font-bold">Keymap</th>
            <tr>
                <td>Location</td>
                <td>{{ showCategoricalArray(location_name, "N/A") }}</td>
            </tr>
            <tr>
                <td>Edition Number</td>
                <td>{{ showCategoricalArray(edition_number, "N/A") }}</td>
            </tr>
            <tbody>
                <th colspan="2" class="text-xl font-bold">Firmware Features</th>
                <tr>
                    <td>Location Verified</td>
                    <td>{{ booleanToYesNo(isLocationVerified) }}</td>
                </tr>
            </tbody>
            <tbody>
                <th colspan="2" class="text-xl font-bold">Use Case</th>
                <tr>
                    <td>Edition Format</td>
                    <td>{{ showCategoricalArray(edition_format, "None") }}</td>
                </tr>
            </tbody>
            <tbody class="wrap-break-word">
                <th colspan="2" class="text-xl font-bold">Links</th>
                <tr>
                    <td>Digital Facsimile</td>
                    {% if digital_facsimile_URL %}
                        <td><a href="{{ digital_facsimile_URL }}">{{ digital_facsimile_URL | replace('/', '<wbr>/') | safe }}</a></td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
</article>
