---
layout: default
# TODO: remove those defaults
isLocationVerified: false
edition_format: []
---

{% from "macros/boolean_to_yes_no.njk" import booleanToYesNo %}
{% from "macros/show_categorical_array.njk" import showCategoricalArray %}

{% if isFragment %}
    {% set fragmentStatus = "Fragment" %}
{% else %}
    {% set fragmentStatus = "Non-fragment" %}
{% endif %}

<article class="max-w-5xl mx-auto">
    <header class="mb-14">
        {% if titleImage %}
            <a href="{{ titleImage | url }}">
            <img
            class="w-80 m-0 rounded-t lazy"
            src="{% if titleImage %}{{ titleImage | url }}{% elif image %}{{ image | url }}{% else %}{{ '/assets/img/no-image.svg' | url }}{% endif %}"
            width="100"
            height="100"
            alt="{{ imageAlt }}">
            </a>
        {% endif %}
        <h1 class="text-3xl text-center font-bold leading-normal text-gray-900 mt-0 mb-3">Copy Details for {{ title }} ({{ yearCount }})</h1>
        <h2 class="text-2xl text-center leading-normal text-gray-750 mt-0 mb-3">{{ location_name }}</h2>

    </header>
    <div id="content" class="prose text-gray-800 max-w-none">
        {% if summary -%}
            {% if summary | isArray %}
                <ul>
                {% for bulletpoint in summary %}
                    <li>{{ bulletpoint | safe }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>{{ summary | safe }}</p>
            {%- endif %}
        {% endif %}
        <table>
            <th colspan="2" class="text-xl font-bold">Copy</th>
            <tr>
                <td><strong>SC #</strong></td>
                <td>{{ NSC }}</td>
            </tr>
            <tr>
                <td><strong>STC</strong></td>
                <td>{{ STC_Wing }}</td>
            </tr>
            <tr>
                <td><strong>ESTC</strong></td>
                <td>{{ ESTC }}</td>
            </tr>                        
            <tr>
                <td><strong>Edition Number</strong></td>
                <td>{{ showCategoricalArray(edition_number, "N/A") }}</td>
            </tr>
            <tr>
                <td><strong>Fragment</strong></td>
                <td>{{ booleanToYesNo(isFragment) }}</td>
            </tr>                        
            <th colspan="2" class="text-xl font-bold">Provenance</th>
            <tr>
                <td><strong>Location</strong></td>
                <td>{{ showCategoricalArray(location_name, "N/A") }}</td>
            </tr>
            <tr>
                <td><strong>Shelfmark</strong></td>
                <td>{{ shelfmark }}</td>
            </tr>            
            <tr>
                <td><strong>Copy-specific Notes</strong></td>
                <td>{{ local_notes }}</td>
            </tr>
            <tr>
                <td><strong>Provenance</strong></td>
                <td>{{ prov_info }}</td>
            </tr>
            <tr>
                <td><strong>Bibliography</strong></td>
                <td>{{ bibliography }}</td>
            </tr>                       
            <tr>
                <td><strong>Location Verified</strong></td>
                <td>{{ booleanToYesNo(isLocationVerified) }}</td>
            </tr>            
            <tbody>
                <th colspan="2" class="text-xl font-bold">Material Features</th>
                <tr>
                    <td><strong>Size</strong></td>
                    <td><strong>Width:</strong> {{ width }}cm x <strong>Height:</strong> {{ height }}cm</td>
                </tr>
                <tr>
                    <td><strong>Edition Format</strong></td>
                    <td>{{ showCategoricalArray(edition_format, "None") }}</td>
                </tr>                
                <tr>
                    <td><strong>Binding</strong></td>
                    <td>{{ binding }}</td>
                </tr>                
                <tr>
                    <td><strong>Binder</strong></td>
                    <td>{{ binder }}</td>
                </tr>
                <tr>
                    <td><strong>Marginalia</strong></td>
                    <td>{{ marginalia }}</td>
                </tr> 
                <tr>
                    <td><strong>Condition</strong></td>
                    <td>{{ condition }}</td>
                </tr>                                
                <tr>
                    <td><strong>Bookplate</strong></td>
                    <td>{{ bookplate }}</td>
                </tr> 
                <tr>
                    <td><strong>Bookplate Location</strong></td>
                    <td>{{ bookplate_location }}</td>
                </tr> 
            </tbody>
            <tbody>
                <th colspan="2" class="text-xl font-bold">Additional Notes</th>
            <tr>
                <td><strong>Bartlett 1939</strong></td>
                <td>{{ Bartlett1939_notes }}</td>
            </tr>
            <tr>
                <td><strong>Bartlett 1916</strong></td>
                <td>{{ Bartlett1916_notes }}</td>
            </tr>            
            <tr>
                <td><strong>Lee</strong></td>
                <td>{{ Lee_notes }}</td>
            </tr>  
            </tbody>
            <tbody class="wrap-break-word">
                <th colspan="2" class="text-xl font-bold">Links</th>
                <tr>
                    <td><strong>Digital Facsimile</strong></td>
                    {% if digital_facsimile_URL %}
                        <td><a href="{{ digital_facsimile_URL }}">{{ digital_facsimile_URL | replace('/', '<wbr>/') | safe }}</a></td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
</article>
