---
layout: default
title: Contact
---

<p class="static-text">
      We welcome emails about copies we are missing, anything that is not functioning properly, and verification and additional details about copies in the Census. Please feel free to email with any questions. We will respond as quickly as possible. <br><br>

You can reach us at ShakespeareCensus AT english DOT upenn.edu
    </p>