---
layout: layouts/default
isMainScreen: true
title: titles
---

{% block main %}
<div class="flex flex-wrap p-[100px]">

    {% for data in titles %}
    <div class="p-[10px] m-[10px]">
      <a href="{{ data.titleURL | url }}">
      <img width="80px" src="{{ data.titleImage | url }}"
      </a>
      <a href="{{ data.titleURL | url }}">{{ data.title }}</a>
    </div>
    {% endfor %}

</div>
{% endblock %}