---
layout: layouts/default
isMainScreen: true
title: titles
---

{% block main %}
<div class="flex flex-wrap>

    {% for data in titles %}
    <div>
      <a href="{{ data.titleURL }}">
      <img width="80px" src="{{ data.titleImage }}"
      </a>
      <a href="{{ data.titleURL }}">{{ data.title }}</a>
    </div>
    {% endfor %}

</div>
{% endblock %}