<footer class="mt-20 px-10 py-8 bg-gray-200">
    <div class="max-w-5xl mx-auto text-gray-700 text-center">
            <span><a href="/advisoryboard/">advisory board</a></span>
            <span><a href="/references/">references</a></span>
            <span><a href="/contact/">contact</a></span>
    </div>
</footer>
